
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK - Civil Eligibility Calculator
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form action="after-q8.html" method="post">

          <main class="govuk-main-wrapper " id="main-content" role="main">


              {{ govukRadios({
                classes: "govuk-radios--inline",
                idPrefix: "asset-ownership",
                name: "asset-ownership",
                fieldset: {
                  legend: {
                    text: "Is the case about ownership or possession of assets and/or financial provision?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                hint: {
                  text:"(If 'No' go directly to PART B: Capital)"
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no",
                    text: "No"
                  }
                ]
              }) }}





            {{ govukButton({
              text: "Next question",
              href: "after-q8.html",
              classes: "govuk-button--start"
            }) }}




          </main>

      </form>


    </div>
</div>

{% endblock %}
