
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK - Civil Eligibility Calculator
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">


      <form action="after-partAb-Capital.html" method="post">

          <main class="govuk-main-wrapper " id="main-content" role="main">
               <h3 class="govuk-heading-l">PART A: Capital - subject matter of dispute </h3>



            <div class="govuk-grid-row">
              <div class="govuk-grid-column-three-quarters">
                <div>
                  <table class="govuk-table govuk-body govuk-!-margin-bottom-9" >
                    <caption class="govuk-table__caption">Please list any property, assets and possessions that the opponent has made a claim to in this case:</caption>
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"> Property:</th>
                        <th class="govuk-table__header" scope="col"> Main Home</th>
                        <th class="govuk-table__header" scope="col"> Other Property</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row"> Current market value</th>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="£"></td>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="£"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row"> Outstanding mortgage/secured loan</th>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="£"></td>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="£"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row"> Is property held in joint names with the opponent?</th>
                              <td class="govuk-table__cell "><div class="govuk-radios govuk-radios--inline">
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
                                  <label class="govuk-label govuk-radios__label" for="changed-name-1">
                                    Yes
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    No
                                  </label>
                                </div>
                            </td>
                              <td class="govuk-table__cell "><div class="govuk-radios govuk-radios--inline">
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
                                  <label class="govuk-label govuk-radios__label" for="changed-name-1">
                                    Yes
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    No
                                  </label>
                                </div>
                              </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row"> Client's share of property for assessment? </th>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="%"></td>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="%"></td>
                      </tr>
                    </tbody>

                  </table>

                </div>
              </div>
            </div>

            {{ govukButton({
              text: "Next",
              href: "after-partAb-Capital.html",
              classes: "govuk-button--start"
            }) }}

          </main>

      </form>


    </div>

    <div class="govuk-grid-column-one-quarter govuk-table__header--numeric">
        <p class="govuk-body govuk-!-margin-bottom-6"></p>
        <h3><a href="guidance#2F_007">View guidance</a></h3>
      </div>
</div>

{% endblock %}
