
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK - Civil Eligibility Calculator
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form action="after-q8.html" method="post">

          <main class="govuk-main-wrapper " id="main-content" role="main">


              {{ govukRadios({
                classes: "govuk-radios--inline",
                idPrefix: "opponent",
                name: "opponent",
                fieldset: {
                  legend: {
                    text: "Have the clients assets (held in sole name or jointly held) been claimed by the opponent?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no",
                    text: "No"
                  }
                ]
              }) }}

              {{ govukInsetText({
                text: "Note: The subject matter of dispute disregard only applies to assets that are specifically claimed by the opponent. All assets that have not been specifically claimed by the opponent must be included in PART B: Capital. "
              }) }}



            {{ govukButton({
              text: "Next section",
              href: "after-partAcapital.html",
              classes: "govuk-button--start"
            }) }}




          </main>

      </form>


    </div>
</div>

{% endblock %}
