
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK - Civil Eligibility Calculator
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form action="after-q4.html" method="post">

          <main class="govuk-main-wrapper " id="main-content" role="main">


              {{ govukRadios({
                classes: "govuk-radios--inline",
                idPrefix: "means",
                name: "means",
                fieldset: {
                  legend: {
                    text: "Is the client directly or indirectly in receipt of NASS payments?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                hint: {
                        text: "Immigration and Asylum category work only"
                      },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no",
                    text: "No"
                  }
                ]
              }) }}



            {{ govukButton({
              text: "Next question",
              href: "after-q4.html",
              classes: "govuk-button--start"
            }) }}




          </main>

      </form>


    </div>

    <div class="govuk-grid-column-one-third govuk-table__header--numeric">
        <p class="govuk-body govuk-!-margin-bottom-6"></p>
        <h2><a href="https://civil-eligibility-calculator.justice.gov.uk/ecalc_pre/guidance.asp#2C003">View guidance</a></h2>
      </div>
</div>

{% endblock %}
