
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK - Civil Eligibility Calculator
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


      <form action="#" method="post">

          <main class="govuk-main-wrapper " id="main-content" role="main">


            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">

              </div>
            </div>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <div>
                  <table class="govuk-table govuk-body govuk-!-margin-bottom-9">
                    <caption class="govuk-table__caption">Please list the client and partner's property, assets or possessions not included in Part A:</caption>
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"> Property:</th>
                        <th class="govuk-table__header" scope="col"> Main Home</th>
                        <th class="govuk-table__header" scope="col"> Other Property</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row"> Current market value</th>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="£"></td>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="£"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row"> Outstanding mortgage/secured loan</th>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="£"></td>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="£"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row"> Is property held in joint names with the opponent?</th>
                              <td class="govuk-table__cell "><div class="govuk-radios govuk-radios--inline">
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
                                  <label class="govuk-label govuk-radios__label" for="changed-name-1">
                                    Yes
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    No
                                  </label>
                                </div>
                            </td>
                              <td class="govuk-table__cell "><div class="govuk-radios govuk-radios--inline">
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
                                  <label class="govuk-label govuk-radios__label" for="changed-name-1">
                                    Yes
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    No
                                  </label>
                                </div>
                              </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row"> Client's share of property for assessment? </th>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="%"></td>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="%"></td>
                      </tr>
                    </tbody>

                  </table>





                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Other assets an d possessions claimed by the opponent:</th>
                        <th class="govuk-table__header" scope="col"> Client and Partner</th>
                        <td class="govuk-table__cell "></td>
                        <td class="govuk-table__cell "></td>
                        <td class="govuk-table__cell "></td>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Savings(bank, building society,etc)</th>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="£"></td>
                        <td class="govuk-table__cell ">
                      </tr>

                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Investments (shares, insurance policies, etc)</th>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="£"></td>
                        <td class="govuk-table__cell "></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Valuable items (boat, caravan, jewellary,etc)</th>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="£"></td>
                        <td class="govuk-table__cell "></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Other capital (including money due to the client)</th>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="£"></td>
                        <td class="govuk-table__cell "></td>
                      </tr>
                    </tbody>
                  </table>

                <tbody>
                   <table class="govuk-table govuk-body govuk-!-margin-bottom-9">
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header govuk-table__header govuk-table__header--numeric" scope="row"> Total Part A capital </th>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="£"></td>
                        <td class="govuk-table__cell "></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header govuk-table__header govuk-table__header--numeric" scope="row"> Total Part B capital </th>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="£"></td>
                        <td class="govuk-table__cell "></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header govuk-table__header govuk-table__header--numeric" scope="row"> Total of all Capital assets (Part A and Part B) </th>
                        <td class="govuk-table__cell "><input class="govuk-input" id="name" name="name" type="text" value="£"></td>
                        <td class="govuk-table__cell "></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>


            {{ govukButton({
              text: "Next question",
              href: "#",
              classes: "govuk-button--start"
            }) }}




          </main>

      </form>


    </div>
</div>

{% endblock %}
