
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK - Civil Eligibility Calculator
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <!--  <form action="question1.html" method="post">  -->
    <!-- changed the above line to below to replace the actual page with a virtual page that is in the routes.js file
    and removed the href that was in the button class -->
      <form action="/q0form" method="post">
          <main class="govuk-main-wrapper " id="main-content" role="main">


              {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "case-start",
                name: "case-start",
                fieldset: {
                  legend: {
                    text: "Are you assessing your client’s means for a case started:",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                  }
                },
                hint: {
                  text: "Check start date of case."
                },
                items: [
                  {
                    value: "before",
                    text: "before 1 April 2013?"
                  },
                  {
                    value: "after",
                    text: "on or after 1 April 2013?"
                  }
                ]
              }) }}



            {{ govukButton({
              text: "Next question",
              classes: "govuk-button--start"
            }) }}


          </main>

      </form>


    </div>
</div>

{% endblock %}
